/* .dashboard-content {
    width: 100;
    margin-left: 275px;
    height:780 ;
    display: block;
    clear: both;
    background-color: #E5E7EB;
    height: 780px;
    overflow: auto;
  }
  
  .dashboard-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
   */